/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 9, ../sass/reset.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 17, ../sass/reset.scss */
a:active,
a:hover {
  outline: 0;
}

/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 26, ../sass/reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 34, ../sass/reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 46, ../sass/reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 60, ../sass/reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 76, ../sass/reset.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 91, ../sass/reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 104, ../sass/reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 116, ../sass/reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 130, ../sass/reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 142, ../sass/reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 151, ../sass/reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 162, ../sass/reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 167, ../sass/reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* line 169, ../sass/reset.scss */
input:-ms-clear {
  display: none;
}

/* line 392, ./icons-2x/*.png */
.icons-2x-sprite {
  background-image: url('../images/./icons-2x-s6e46f74858.png');
  background-repeat: no-repeat;
}

/* line 19, ../sass/import.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 33, ../sass/import.scss */
.css-arrow {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #d42c2c transparent;
}

/* line 43, ../sass/import.scss */
.logo, .i-back, .i-arrow-l, .i-arrow-r, .i-arrow-r-o, .i-arrow-t, .i-arrow-t-red, .sort-up [class^="i-arrow"]:first-child, .i-arrow-b, .i-arrow-b-red, .sort-down [class^="i-arrow"]:last-child, .i-menu, .i-menu1, .i-menu2, .i-menu3, .i-menu4, .i-menu-home, .i-menu-info, .i-menu-center, .i-menu-required, .i-menu-case, .i-menu-test, .i-weibo, .i-qzone, .i-weixin, .i-close, .i-copy, .i-zoom, .i-filter, .i-filter-red, .active .i-filter, .i-right, #subPanelBox .hover .sl-item:last-child:after, .i-btnback, .i-qqim, .i-share, .i-qq, .i-top, .sitetitle, .imicon {
  position: absolute;
  display: inline-block;
  vertical-align: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  line-height: 100em;
  background-image: url('../images/icons-2x-s18f9c0b98f.png');
  background-size: 1477px 55px;
}

/* line 4, ../sass/base.scss */
html {
  width: 100%;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: arial, microsoft yahei, Helvetica, simhei;
  -webkit-text-size-adjust: none;
}

@media only screen and (min-width: 320px) {
  /* line 13, ../sass/base.scss */
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  /* line 21, ../sass/base.scss */
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  /* line 29, ../sass/base.scss */
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 400px) {
  /* line 37, ../sass/base.scss */
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  /* line 45, ../sass/base.scss */
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 53, ../sass/base.scss */
  html {
    font-size: 40px;
  }
}
/* line 61, ../sass/base.scss */
html {
  width: 100%;
  overflow-x: hidden;
}

/* line 65, ../sass/base.scss */
body {
  position: relative;
  width: 100%;
  max-width: 640px;
  overflow-x: hidden;
  color: #2d2d2d;
  font-size: .6rem;
  background: #edeef0;
  -webkit-touch-callout: none !important;
}

/* line 77, ../sass/base.scss */
#page {
  width: 100%;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* line 84, ../sass/base.scss */
h2 {
  font-size: 0.8rem;
}

/* line 87, ../sass/base.scss */
h3 {
  font: 300 0.57692rem simhei;
}

/* line 90, ../sass/base.scss */
img {
  vertical-align: top;
  max-width: 100%;
}

/* line 94, ../sass/base.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* line 97, ../sass/base.scss */
a:link, a:visited {
  color: #333;
}
/* line 101, ../sass/base.scss */
a:hover {
  outline: none;
}

/* line 106, ../sass/base.scss */
button, input, select, textarea, label {
  font-size: 100%;
  vertical-align: middle;
}

/* line 110, ../sass/base.scss */
input:focus {
  outline: none;
}

/* line 114, ../sass/base.scss */
input {
  margin: 0;
  padding: 0;
}
/* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input:-moz-placeholder {
  font-style: normal;
  font-size: .6rem;
  color: #ababab;
}
/* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input::-moz-placeholder {
  font-style: normal;
  font-size: .6rem;
  color: #ababab;
}
/* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input:-ms-input-placeholder {
  font-style: normal;
  font-size: .6rem;
  color: #ababab;
}
/* line 56, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input::-webkit-input-placeholder {
  font-style: normal;
  font-size: .6rem;
  color: #ababab;
}

/* line 123, ../sass/base.scss */
.fc-blue {
  color: blue;
}

/* line 126, ../sass/base.scss */
.fc-green {
  color: #7bbf52;
}

/* line 129, ../sass/base.scss */
.fc-orange {
  color: #fc7c01;
}

/* line 132, ../sass/base.scss */
.fc-red {
  color: #d42c2c;
}

/* line 135, ../sass/base.scss */
.gap, .ui-box {
  margin-bottom: 0.25rem;
  background: #fff;
}

/* line 140, ../sass/base.scss */
.ui-btn {
  width: 100%;
  display: block;
  height: 3.6rem;
  font: 300 1.8rem/3rem microsoft yahei;
  text-align: center;
  border: 1px solid #d12222;
  background: #7abf51;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
/* line 151, ../sass/base.scss */
.ui-btn:link, .ui-btn:visited {
  color: #fff;
}
/* line 155, ../sass/base.scss */
.ui-btn:hover {
  background: #1D8E3B;
  color: #fff;
}

/* line 160, ../sass/base.scss */
.ui-btn-sm {
  display: inline-block;
  width: 5rem;
  height: auto;
  line-height: 20px;
  padding: 0 10px;
  font-size: 1.2rem;
  border: 0 none;
}

/* line 169, ../sass/base.scss */
.ui-btn-mid {
  display: inline-block;
  width: 5rem;
  height: auto;
  line-height: 3rem;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  border: 0 none;
}

/* line 180, ../sass/base.scss */
.mb10 {
  margin-bottom: 1rem;
}

/* line 181, ../sass/base.scss */
.mb20 {
  margin-bottom: 2rem;
}

/* line 183, ../sass/base.scss */
.ui-slider-item {
  height: auto !important;
}

/* line 187, ../sass/base.scss */
#panel .header {
  background: #d42c2c;
}

/* line 191, ../sass/base.scss */
.ui-panel {
  position: fixed;
  width: 65% !important;
  padding: 0;
  background: #e6e6e6;
  color: #333;
}

/* line 199, ../sass/base.scss */
.panel-menu ul li {
  position: relative;
  padding: 1rem 0 1rem 4rem;
  border-bottom: 1px solid #dddddd;
  font: 0.91429 simhei;
}
/* line 204, ../sass/base.scss */
.panel-menu ul li a {
  display: block;
}
/* line 206, ../sass/base.scss */
.panel-menu ul li a:hover {
  background: transparent;
}
/* line 210, ../sass/base.scss */
.panel-menu ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 214, ../sass/base.scss */
.panel-menu ul [class^="i-menu"] {
  left: 2rem;
  top: 50%;
  margin-top: -17.5px;
}

/* line 225, ../sass/base.scss */
.ui-box .ub-hd {
  position: relative;
  height: 1.7rem;
  padding: 1px 0.5rem;
}
/* line 229, ../sass/base.scss */
.ui-box .ub-hd h2 {
  margin-top: 0.35rem;
  line-height: 1.3;
  border-left: 0.1rem solid #d42c2c;
  padding-left: 10px;
}
/* line 235, ../sass/base.scss */
.ui-box .ub-hd .more {
  position: absolute;
  top: 0;
  right: 0.5rem;
  height: 1.7rem;
  line-height: 1.7rem;
  color: #888888;
}
/* line 244, ../sass/base.scss */
.ui-box .i-arrow-r {
  position: static;
}
/* line 247, ../sass/base.scss */
.ui-box .ub-bd {
  padding: 1px 0.5rem;
}

/* line 252, ../sass/base.scss */
.ui-flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 265, ../sass/base.scss */
.ui-flex-box li {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 271, ../sass/base.scss */
.ui-flex-box li:last-child {
  margin-right: 0;
  border-right: 0 none;
}
/* line 276, ../sass/base.scss */
.ui-flex-box img {
  max-width: 100%;
}

/* line 280, ../sass/base.scss */
.ui-navigator,
#nav {
  background: #fff;
  border-top: 0 none;
  border-bottom: 1px solid #dddddd;
}

/* line 286, ../sass/base.scss */
.ui-navigator-list li.ui-state-hover,
.ui-navigator-list li.ui-state-active {
  background: #fff;
}
/* line 290, ../sass/base.scss */
.ui-navigator-list li.ui-state-hover a,
.ui-navigator-list li.ui-state-active a {
  color: #d42c2c !important;
  font-size: 0.75rem !important;
}

/* line 295, ../sass/base.scss */
.ui-navigator-list li a,
#nav li a {
  display: block;
  color: #333;
  font-size: .6rem;
  font-weight: 300;
  line-height: 1.75rem;
}

/* line 303, ../sass/base.scss */
.ui-scroller {
  vertical-align: top;
}

/* line 306, ../sass/base.scss */
.ui-refresh-down {
  text-align: center;
  padding: 1rem;
}

/* line 310, ../sass/base.scss */
.header {
  position: relative;
  height: 2rem;
  background: #f8f8f8;
  text-align: center;
}
/* line 315, ../sass/base.scss */
.header .title {
  font: 300 16px/2rem simhei;
}
/* line 318, ../sass/base.scss */
.header a {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 324, ../sass/base.scss */
.header a:hover {
  color: #d42c2c;
}
/* line 326, ../sass/base.scss */
.header a:hover .i-back {
  background-image: url(../images/icons-2x/i-arrow-l-red.png);
  background-size: 100% 100%;
  background-position: 0 0;
}
/* line 333, ../sass/base.scss */
.header .btn-back {
  min-width: 1rem;
  height: 1rem;
  left: 10px;
}
/* line 337, ../sass/base.scss */
.header .btn-back:hover {
  color: #d42c2c;
}
/* line 340, ../sass/base.scss */
.header .btn-back .logo {
  position: static;
  display: block;
  width: 4.8rem;
  height: 0.775rem;
  background: url(../images/icons-2x/logo.png);
  background-size: 100% 100%;
}
/* line 349, ../sass/base.scss */
.header .btn-menu {
  right: 10px;
}
/* line 352, ../sass/base.scss */
.header .i-back,
.header .i-menu {
  position: static;
  margin: 0 5px;
  line-height: 1rem;
  vertical-align: -1px;
}

/* line 362, ../sass/base.scss */
.mainpage {
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
}

/* line 368, ../sass/base.scss */
.footer {
  padding: 1rem;
  text-align: center;
  color: #ababab;
}

/* line 59, ../sass/import.scss */
.logo {
  background-position: -1229px 0;
  height: 15.5px;
  width: 96px;
}

/* line 59, ../sass/import.scss */
.i-back {
  background-position: -120px 0;
  height: 12.5px;
  width: 8px;
}

/* line 59, ../sass/import.scss */
.i-arrow-l {
  background-position: -61px 0;
  height: 8.5px;
  width: 5.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-r {
  background-position: -82px 0;
  height: 8.5px;
  width: 5.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-r-o {
  background-position: -72px 0;
  height: 8.5px;
  width: 5.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-t {
  background-position: -106px 0;
  height: 5.5px;
  width: 8.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-t-red, .sort-up [class^="i-arrow"]:first-child {
  background-position: -93px 0;
  height: 5.5px;
  width: 8.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-b {
  background-position: -37px 0;
  height: 5.5px;
  width: 8.5px;
}

/* line 59, ../sass/import.scss */
.i-arrow-b-red, .sort-down [class^="i-arrow"]:last-child {
  background-position: -24px 0;
  height: 5.5px;
  width: 8.5px;
}

/* line 59, ../sass/import.scss */
.i-menu {
  background-position: -625px 0;
  height: 10px;
  width: 15px;
}

/* line 59, ../sass/import.scss */
.i-menu1 {
  background-position: -645px 0;
  height: 30px;
  width: 25px;
}

/* line 59, ../sass/import.scss */
.i-menu2 {
  background-position: -675px 0;
  height: 30px;
  width: 25px;
}

/* line 59, ../sass/import.scss */
.i-menu3 {
  background-position: -705px 0;
  height: 30px;
  width: 25px;
}

/* line 59, ../sass/import.scss */
.i-menu4 {
  background-position: -735px 0;
  height: 30px;
  width: 25px;
}

/* line 59, ../sass/import.scss */
.i-menu-home {
  background-position: -465px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-menu-info {
  background-position: -505px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-menu-center {
  background-position: -425px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-menu-required {
  background-position: -545px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-menu-case {
  background-position: -385px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-menu-test {
  background-position: -585px 0;
  height: 35px;
  width: 35px;
}

/* line 59, ../sass/import.scss */
.i-weibo {
  background-position: -1003px 0;
  height: 50px;
  width: 50px;
}

/* line 59, ../sass/import.scss */
.i-qzone {
  background-position: -852px 0;
  height: 50px;
  width: 50px;
}

/* line 59, ../sass/import.scss */
.i-weixin {
  background-position: -1058px 0;
  height: 50.5px;
  width: 50px;
}

/* line 59, ../sass/import.scss */
.i-close {
  background-position: -148px 0;
  height: 25px;
  width: 25px;
}

/* line 59, ../sass/import.scss */
.i-copy {
  background-position: -234px 0;
  height: 50px;
  width: 50px;
}

/* line 59, ../sass/import.scss */
.i-zoom {
  background-position: -1168px 0;
  height: 11.5px;
  width: 16px;
}

/* line 59, ../sass/import.scss */
.i-filter {
  background-position: -337px 0;
  height: 17px;
  width: 14px;
}

/* line 59, ../sass/import.scss */
.i-filter-red, .active .i-filter {
  background-position: -318px 0;
  height: 17px;
  width: 14px;
}

/* line 59, ../sass/import.scss */
.i-right, #subPanelBox .hover .sl-item:last-child:after {
  background-position: -936px 0;
  height: 12px;
  width: 17.5px;
}

/* line 59, ../sass/import.scss */
.i-btnback {
  background-position: -133px 0;
  height: 16.5px;
  width: 10.5px;
}

/* line 59, ../sass/import.scss */
.i-qqim {
  background-position: -820px 0;
  height: 27.5px;
  width: 27px;
}

/* line 59, ../sass/import.scss */
.i-share {
  background-position: -958px 0;
  height: 17.5px;
  width: 17.5px;
}

/* line 59, ../sass/import.scss */
.i-qq {
  background-position: -765px 0;
  height: 50.5px;
  width: 50px;
}

/* line 59, ../sass/import.scss */
.i-top {
  background-position: -981px 0;
  height: 17.5px;
  width: 17.5px;
}

/* line 59, ../sass/import.scss */
.sitetitle {
  background-position: -1330px 0;
  height: 17.5px;
  width: 142px;
}

/* line 59, ../sass/import.scss */
.imicon {
  background-position: -1189px 0;
  height: 55px;
  width: 35px;
}

/* line 410, ../sass/base.scss */
.social-menu {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  text-align: center;
}
/* line 416, ../sass/base.scss */
.social-menu a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
/* line 425, ../sass/base.scss */
.social-menu a:first-child {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 40px;
  background: none;
}
/* line 432, ../sass/base.scss */
.social-menu a:last-child {
  display: none;
}
/* line 436, ../sass/base.scss */
.social-menu i {
  position: static;
  color: transparent;
}

/* line 446, ../sass/base.scss */
.sort-up a {
  color: #d42c2c;
}

/* line 454, ../sass/base.scss */
.sort-down a {
  color: #d42c2c;
}

/* line 474, ../sass/base.scss */
.ui-no-result {
  min-height: 400px;
  padding: 1rem;
  text-align: center;
  line-height: 3;
}
/* line 479, ../sass/base.scss */
.ui-no-result img {
  max-width: 150px;
}
/* line 482, ../sass/base.scss */
.ui-no-result a {
  text-decoration: underline;
  color: #048fff;
}

/* line 487, ../sass/base.scss */
.ui-masks {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 120%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 99;
  background: black;
  transition: all .5s;
}

/* line 499, ../sass/base.scss */
.ui-share {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: .8rem 0;
  background: #fff;
  text-align: center;
}
/* line 509, ../sass/base.scss */
.ui-share h2 {
  margin-bottom: .8rem;
  font: 300 .8rem/2 simhei;
}
/* line 513, ../sass/base.scss */
.ui-share li {
  position: relative;
}
/* line 516, ../sass/base.scss */
.ui-share ul li a {
  position: absolute;
  left: 10%;
  top: 0;
  display: inline-block;
  width: 80% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  float: none !important;
  background: none !important;
  text-indent: 0;
}
/* line 530, ../sass/base.scss */
.ui-share [class^="i-"] {
  position: static;
  overflow: hidden;
  line-height: 100em;
}
/* line 536, ../sass/base.scss */
.ui-share p {
  padding-top: .8rem;
}
