/* line 336, icons-2x/*.png */
.icons-2x-sprite {
  background-image: url('/images/icons-2x-scccf118f97.png');
  background-repeat: no-repeat;
}

/* line 19, ../sass/import.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 33, ../sass/import.scss */
.css-arrow {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #d42c2c transparent;
}
