/* line 4, ../sass/infodetail.scss */
.info-detail {
  padding: 0.25rem;
}
/* line 6, ../sass/infodetail.scss */
.info-detail h1 {
  padding-top: 0.5rem;
  color: #000;
  font: 700 .9rem/1.5 Helvetica, simhei;
}
/* line 11, ../sass/infodetail.scss */
.info-detail .options {
  color: #aaa;
}
/* line 13, ../sass/infodetail.scss */
.info-detail .options span {
  padding: 0 10px 0 0;
}
/* line 17, ../sass/infodetail.scss */
.info-detail .info-text {
  padding: 0 0.25rem 0.5rem;
}
/* line 19, ../sass/infodetail.scss */
.info-detail .info-text p {
  margin: 0.5rem 0;
  text-indent: 2em;
  font: 300 .7rem/1.5 Helvetica, simhei;
}
/* line 23, ../sass/infodetail.scss */
.info-detail .info-text p img {
  margin-left: -2em;
}
/* line 26, ../sass/infodetail.scss */
.info-detail .info-text p a {
  color: #4788ff;
  text-decoration: underline;
}
/* line 30, ../sass/infodetail.scss */
.info-detail .info-text p strong {
  font-weight: 700;
}

/* line 37, ../sass/infodetail.scss */
.lxgj {
  padding-bottom: .4rem;
}
/* line 39, ../sass/infodetail.scss */
.lxgj .pic {
  float: none;
  width: 2.4rem;
  margin-right: .2rem;
  vertical-align: middle;
}
/* line 45, ../sass/infodetail.scss */
.lxgj li p {
  display: inline-block;
  vertical-align: middle;
}
