/* line 5, ../sass/ranking.scss */
.ranking-title {
  font: 300 .7rem/3 simhei;
  background: #d42c2c;
  color: #fff;
  text-align: center;
}

/* line 12, ../sass/ranking.scss */
.rank-table .rt-tit {
  padding: 0 0.5rem;
  line-height: 2;
  background: #f5f7fa;
}
/* line 16, ../sass/ranking.scss */
.rank-table .rt-tit span {
  display: inline-block;
  width: 11%;
  text-align: center;
}
/* line 22, ../sass/ranking.scss */
.rank-table .rt-list {
  text-align: center;
  background: #fff;
}
/* line 26, ../sass/ranking.scss */
.rank-table li {
  padding: 0.5rem;
  border-bottom: 1px dotted #dddddd;
}
/* line 32, ../sass/ranking.scss */
.rank-table li:nth-child(1) .num:first-child, .rank-table li:nth-child(2) .num:first-child, .rank-table li:nth-child(3) .num:first-child {
  color: #d42c2c;
}
/* line 36, ../sass/ranking.scss */
.rank-table li h3:first-child {
  margin-bottom: 3px;
}
/* line 40, ../sass/ranking.scss */
.rank-table .num,
.rank-table .school {
  display: inline-block;
  vertical-align: middle;
}
/* line 45, ../sass/ranking.scss */
.rank-table .num {
  width: 11%;
  font-size: .8rem;
}
/* line 48, ../sass/ranking.scss */
.rank-table .num:nth-child(2) {
  padding-right: 5%;
  color: #ababab;
}
/* line 54, ../sass/ranking.scss */
.rank-table .school {
  width: 70%;
  text-align: left;
}

/* line 61, ../sass/ranking.scss */
.fixed-btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font: .7rem/3 simhei;
}
/* line 69, ../sass/ranking.scss */
.fixed-btn li a {
  display: block;
  color: #fff;
}
/* line 73, ../sass/ranking.scss */
.fixed-btn li:first-child {
  background: #ff9409;
}
/* line 76, ../sass/ranking.scss */
.fixed-btn li:last-child {
  background: #ff6009;
}
