/* line 5, ../sass/schooldetail.scss */
.school-nav {
  z-index: 9;
  width: 100%;
  background: #fff;
  border: 1px solid #eeeeee;
  border-width: 1px 0;
}
/* line 11, ../sass/schooldetail.scss */
.school-nav li {
  text-align: center;
}
/* line 13, ../sass/schooldetail.scss */
.school-nav li a {
  display: block;
  box-sizing: border-box;
  font: .7rem/3 simhei;
  border-bottom: 2px solid #fff;
}
/* line 20, ../sass/schooldetail.scss */
.school-nav li a.current {
  color: #d42c2c;
  border-bottom: 2px solid #d42c2c;
}

/* line 27, ../sass/schooldetail.scss */
.school-title {
  background: #fff;
  padding: 0.5rem 0.5rem 0;
}
/* line 30, ../sass/schooldetail.scss */
.school-title li {
  display: block;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
}
/* line 35, ../sass/schooldetail.scss */
.school-title .pic {
  margin-bottom: .5rem;
}
/* line 38, ../sass/schooldetail.scss */
.school-title .date {
  clear: left;
}

/* line 43, ../sass/schooldetail.scss */
.school-notice {
  position: relative;
  padding: 0.5rem;
  background: #fff2de;
}
/* line 46, ../sass/schooldetail.scss */
.school-notice a {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #d42c2c;
}
/* line 55, ../sass/schooldetail.scss */
.school-notice [class^="i-arrow"] {
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 63, ../sass/schooldetail.scss */
.school-ranking {
  background: #fff;
  text-align: center;
}
/* line 66, ../sass/schooldetail.scss */
.school-ranking ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 76, ../sass/schooldetail.scss */
.school-ranking ul:first-child {
  border-top: 1px solid #dddddd;
  border-bottom: 1px dotted #dddddd;
}
/* line 81, ../sass/schooldetail.scss */
.school-ranking .fc-orange {
  display: block;
  font-size: .75rem;
}
/* line 85, ../sass/schooldetail.scss */
.school-ranking li {
  width: 33%;
  padding: 0.5rem 0;
}

/* line 90, ../sass/schooldetail.scss */
.school-pic {
  overflow: hidden;
}
/* line 92, ../sass/schooldetail.scss */
.school-pic li {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 97, ../sass/schooldetail.scss */
.school-pic li a {
  display: block;
}
/* line 100, ../sass/schooldetail.scss */
.school-pic li:first-child {
  padding-right: 3%;
}
/* line 103, ../sass/schooldetail.scss */
.school-pic li:last-child {
  padding-left: 3%;
}
/* line 107, ../sass/schooldetail.scss */
.school-pic .pic {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 64%;
  height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.07);
}
/* line 115, ../sass/schooldetail.scss */
.school-pic .pic img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 125, ../sass/schooldetail.scss */
.school-pic .opts {
  position: relative;
}
/* line 128, ../sass/schooldetail.scss */
.school-pic .opts span {
  display: inline-block;
  width: 48%;
  line-height: 3;
}
/* line 132, ../sass/schooldetail.scss */
.school-pic .opts span:first-child {
  text-align: left;
}
/* line 136, ../sass/schooldetail.scss */
.school-pic .opts span:last-child {
  text-align: right;
  color: #888888;
}

/* line 143, ../sass/schooldetail.scss */
.ui-btn-more {
  display: block;
  margin: 0.25rem 0;
  background: #edeef0;
  text-align: center;
  border-radius: 3px;
  line-height: 3;
}

/* line 152, ../sass/schooldetail.scss */
.school-intro p {
  text-indent: 2em;
  font-size: .7rem;
  line-height: 2;
}

/* line 159, ../sass/schooldetail.scss */
.hot-sp li {
  display: block;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
}
/* line 164, ../sass/schooldetail.scss */
.hot-sp.data-list {
  min-height: 340px;
  min-height: -webkit-calc(100vh - 10rem);
  min-height: calc(100vh - 10rem);
}
/* line 170, ../sass/schooldetail.scss */
.hot-sp .date span {
  display: inline-block;
  padding-right: 15px;
}

/* line 176, ../sass/schooldetail.scss */
.fixed-btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font: .7rem/3 simhei;
}
/* line 184, ../sass/schooldetail.scss */
.fixed-btn li a {
  display: block;
  color: #fff;
}
/* line 188, ../sass/schooldetail.scss */
.fixed-btn li:first-child {
  background: #ff9409;
}
/* line 191, ../sass/schooldetail.scss */
.fixed-btn li:last-child {
  background: #ff6009;
}

/* line 199, ../sass/schooldetail.scss */
.profession-list .info-list li {
  padding: 0.5rem 0;
}

/* line 207, ../sass/schooldetail.scss */
.search-form {
  padding: 0.5rem;
}
/* line 209, ../sass/schooldetail.scss */
.search-form .s-btn {
  display: none;
  float: right;
  width: 3em;
  border: 0 none;
  font: .8rem/2 simhei;
  background: none;
}
/* line 217, ../sass/schooldetail.scss */
.search-form .sf-wrap {
  box-sizing: border-box;
  overflow: hidden;
  padding: .3rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
/* line 225, ../sass/schooldetail.scss */
.search-form .sf-wrap .i-zoom {
  position: static;
}
/* line 229, ../sass/schooldetail.scss */
.search-form .s-text {
  width: 80%;
  vertical-align: middle;
  font: .6rem/1 simhei;
  border: 0 none;
  background: transparent;
}

/* line 237, ../sass/schooldetail.scss */
.s-result {
  padding: 0.25rem 0.5rem 0;
}

/* line 240, ../sass/schooldetail.scss */
.filter-menu {
  position: relative;
  padding: .5rem;
  text-align: center;
  background: #fff;
}
/* line 246, ../sass/schooldetail.scss */
.filter-menu li a {
  display: block;
  position: relative;
  border-right: 1px solid #dddddd;
}
/* line 251, ../sass/schooldetail.scss */
.filter-menu li [class^="i-arrow"]:first-child,
.filter-menu li [class^="i-arrow"]:last-child {
  position: static;
  display: block;
}
/* line 260, ../sass/schooldetail.scss */
.filter-menu li:last-child a {
  border: 0 none;
}
/* line 267, ../sass/schooldetail.scss */
.filter-menu .current a {
  color: #d42c2c;
}
/* line 270, ../sass/schooldetail.scss */
.filter-menu .current [class^="i-arrow"] {
  background: url(../images/icons-2x/i-arrow-t-red.png);
  background-position: 0 0;
  background-size: 100% 100%;
}
/* line 279, ../sass/schooldetail.scss */
.filter-menu .i-box {
  display: block;
  position: absolute;
  width: 20%;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 290, ../sass/schooldetail.scss */
.drop-menu {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 340px;
  max-height: -webkit-calc(100vh - 10rem);
  max-height: calc(100vh - 10rem);
  overflow: scroll;
  top: 100%;
  left: 0;
  z-index: 100;
  border-top: 1px solid #dddddd;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
/* line 304, ../sass/schooldetail.scss */
.drop-menu li {
  margin: 0 0.25rem;
  padding: 0 0.5rem;
  line-height: 3;
  border-bottom: 1px solid #dddddd;
}
/* line 309, ../sass/schooldetail.scss */
.drop-menu li a {
  border: 0 none;
  text-align: left;
}

/* line 315, ../sass/schooldetail.scss */
.search-list {
  position: relative;
}
/* line 317, ../sass/schooldetail.scss */
.search-list .ui-masks {
  position: absolute !important;
}

/* line 321, ../sass/schooldetail.scss */
.img-tag {
  background: #fff;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}
/* line 325, ../sass/schooldetail.scss */
.img-tag a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 3px;
}
/* line 331, ../sass/schooldetail.scss */
.img-tag a:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 335, ../sass/schooldetail.scss */
.img-tag .current {
  color: #d42c2c;
  border-color: #d42c2c;
}

/* line 340, ../sass/schooldetail.scss */
.school-photo {
  background: transparent;
}
/* line 342, ../sass/schooldetail.scss */
.school-photo .ub-bd {
  padding: 0;
}
/* line 345, ../sass/schooldetail.scss */
.school-photo .pic {
  max-width: 100%;
}
/* line 348, ../sass/schooldetail.scss */
.school-photo .pbox {
  display: inline-block;
  width: 49.8%;
  padding-bottom: 2%;
  vertical-align: top;
  font-size: .6rem;
}
/* line 354, ../sass/schooldetail.scss */
.school-photo .pbox a {
  display: block;
  background: #fff;
  margin: 0 3%;
}
/* line 359, ../sass/schooldetail.scss */
.school-photo .pbox strong {
  display: block;
  padding: 0.5rem;
}

/* line 371, ../sass/schooldetail.scss */
#pubu .pbox {
  position: absolute;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* line 376, ../sass/schooldetail.scss */
#pubu {
  height: 500px;
  position: relative;
}

/* line 381, ../sass/schooldetail.scss */
#pubu .pbox {
  float: left;
}
