/* line 5, ../sass/schooldetail.scss */
.school-nav {
  background: #fff;
  border: 1px solid #eeeeee;
  border-width: 1px 0;
}
/* line 9, ../sass/schooldetail.scss */
.school-nav li {
  text-align: center;
}
/* line 11, ../sass/schooldetail.scss */
.school-nav li a {
  display: block;
  box-sizing: border-box;
  font: .7rem/3 simhei;
  border-bottom: 2px solid #fff;
}
/* line 18, ../sass/schooldetail.scss */
.school-nav li a.current {
  color: #d42c2c;
  border-bottom: 2px solid #d42c2c;
}

/* line 25, ../sass/schooldetail.scss */
.school-title {
  background: #fff;
  padding: 0.5rem 0.5rem 0;
}
/* line 28, ../sass/schooldetail.scss */
.school-title .pic {
  margin-bottom: .5rem;
}
/* line 31, ../sass/schooldetail.scss */
.school-title .date {
  clear: left;
}

/* line 36, ../sass/schooldetail.scss */
.school-notice {
  position: relative;
  padding: 0.5rem;
  background: #fff2de;
}
/* line 39, ../sass/schooldetail.scss */
.school-notice a {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fc7c01;
}
/* line 48, ../sass/schooldetail.scss */
.school-notice [class^="i-arrow"] {
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 56, ../sass/schooldetail.scss */
.school-ranking {
  background: #fff;
  text-align: center;
}
/* line 59, ../sass/schooldetail.scss */
.school-ranking ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 70, ../sass/schooldetail.scss */
.school-ranking .fc-orange {
  display: block;
  font-size: .75rem;
}
/* line 74, ../sass/schooldetail.scss */
.school-ranking li {
  width: 33%;
  padding: 0.5rem 0;
}

/* line 81, ../sass/schooldetail.scss */
.school-pic li:first-child {
  padding-right: 3%;
}
/* line 84, ../sass/schooldetail.scss */
.school-pic li:last-child {
  padding-left: 3%;
}
/* line 88, ../sass/schooldetail.scss */
.school-pic .pic {
  max-width: 100%;
}
/* line 92, ../sass/schooldetail.scss */
.school-pic .opts span {
  display: inline-block;
  width: 48%;
  line-height: 3;
}
/* line 96, ../sass/schooldetail.scss */
.school-pic .opts span:first-child {
  text-align: left;
}
/* line 100, ../sass/schooldetail.scss */
.school-pic .opts span:last-child {
  text-align: right;
  color: #888888;
}

/* line 107, ../sass/schooldetail.scss */
.ui-btn-more {
  display: block;
  margin: 0.25rem 0;
  background: #edeef0;
  text-align: center;
  border-radius: 3px;
  line-height: 3;
}

/* line 116, ../sass/schooldetail.scss */
.school-intro p {
  text-indent: 2em;
  font-size: .7rem;
  line-height: 2;
}

/* line 124, ../sass/schooldetail.scss */
.hot-sp .date span {
  display: inline-block;
  padding-right: 15px;
}

/* line 130, ../sass/schooldetail.scss */
.fixed-btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font: .7rem/3 simhei;
}
/* line 138, ../sass/schooldetail.scss */
.fixed-btn li a {
  display: block;
  color: #fff;
}
/* line 142, ../sass/schooldetail.scss */
.fixed-btn li:first-child {
  background: #ff9409;
}
/* line 145, ../sass/schooldetail.scss */
.fixed-btn li:last-child {
  background: #ff6009;
}

/* line 152, ../sass/schooldetail.scss */
.search-form {
  padding: 0.5rem;
}
/* line 154, ../sass/schooldetail.scss */
.search-form .s-btn {
  display: none;
  float: right;
  width: 3em;
  border: 0 none;
  font: .8rem/2 simhei;
  background: none;
}
/* line 162, ../sass/schooldetail.scss */
.search-form .sf-wrap {
  box-sizing: border-box;
  overflow: hidden;
  padding: .3rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
/* line 170, ../sass/schooldetail.scss */
.search-form .sf-wrap .i-zoom {
  position: static;
}
/* line 174, ../sass/schooldetail.scss */
.search-form .s-text {
  width: 80%;
  vertical-align: middle;
  font: .6rem/1 simhei;
  border: 0 none;
  background: transparent;
}

/* line 182, ../sass/schooldetail.scss */
.s-result {
  padding: 0.25rem 0.5rem 0;
}

/* line 185, ../sass/schooldetail.scss */
.filter-menu {
  position: relative;
  padding: .5rem;
  text-align: center;
  background: #fff;
}
/* line 191, ../sass/schooldetail.scss */
.filter-menu li a {
  display: block;
  position: relative;
  border-right: 1px solid #dddddd;
}
/* line 196, ../sass/schooldetail.scss */
.filter-menu li [class^="i-arrow"]:first-child,
.filter-menu li [class^="i-arrow"]:last-child {
  position: static;
  display: block;
  transition: all .4s;
}
/* line 205, ../sass/schooldetail.scss */
.filter-menu li:last-child a {
  border: 0 none;
}
/* line 212, ../sass/schooldetail.scss */
.filter-menu .current a {
  color: #fc7c01;
}
/* line 215, ../sass/schooldetail.scss */
.filter-menu .current [class^="i-arrow"] {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 221, ../sass/schooldetail.scss */
.filter-menu .i-box {
  display: block;
  position: absolute;
  width: 20%;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 232, ../sass/schooldetail.scss */
.drop-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 100;
  border-top: 1px solid #dddddd;
  background: #fff;
}
/* line 241, ../sass/schooldetail.scss */
.drop-menu li {
  margin: 0 0.25rem;
  padding: 0 0.5rem;
  line-height: 3;
  border-bottom: 1px solid #dddddd;
}
/* line 246, ../sass/schooldetail.scss */
.drop-menu li a {
  border: 0 none;
  text-align: left;
}

/* line 252, ../sass/schooldetail.scss */
.search-list {
  position: relative;
}

/* line 255, ../sass/schooldetail.scss */
.img-tag {
  background: #fff;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}
/* line 259, ../sass/schooldetail.scss */
.img-tag a {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 3px;
}
/* line 266, ../sass/schooldetail.scss */
.img-tag .current {
  background: #ccc;
  color: #fff;
}

/* line 271, ../sass/schooldetail.scss */
.school-photo {
  background: transparent;
}
/* line 274, ../sass/schooldetail.scss */
.school-photo .pic {
  max-width: 100%;
}
/* line 277, ../sass/schooldetail.scss */
.school-photo .pbox {
  display: inline-block;
  width: 49%;
  padding-bottom: 2%;
  vertical-align: top;
  font-size: .6rem;
}
/* line 283, ../sass/schooldetail.scss */
.school-photo .pbox a {
  display: block;
  background: #fff;
}
/* line 288, ../sass/schooldetail.scss */
.school-photo .pbox strong {
  display: block;
  padding: 0.5rem;
}
/* line 292, ../sass/schooldetail.scss */
.school-photo .pbox:nth-child(odd) {
  padding-right: 1%;
}
/* line 295, ../sass/schooldetail.scss */
.school-photo .pbox:nth-child(even) {
  padding-left: 1%;
}

/* line 300, ../sass/schooldetail.scss */
#pubu .pbox {
  position: absolute;
  width: 49%;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* line 306, ../sass/schooldetail.scss */
#pubu {
  margin: 0 auto;
  position: relative;
}

/* line 310, ../sass/schooldetail.scss */
#pubu .pbox {
  float: left;
}
