/* line 5, ../sass/search.scss */
.quick-search {
  text-align: center;
}
/* line 8, ../sass/search.scss */
.quick-search .ui-flex-box li {
  padding: 2px 0;
}
/* line 10, ../sass/search.scss */
.quick-search .ui-flex-box li a {
  display: block;
  margin: 5px 0.25rem;
  padding: 5px 0;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
/* line 16, ../sass/search.scss */
.quick-search .ui-flex-box li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 24, ../sass/search.scss */
.quick-search .ui-flex-box:first-child li:first-child {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 29, ../sass/search.scss */
.quick-search .ui-flex-box:first-child li:nth-child(2),
.quick-search .ui-flex-box:first-child li:nth-child(3) {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

/* line 39, ../sass/search.scss */
.search-form {
  padding: 0.5rem;
}
/* line 41, ../sass/search.scss */
.search-form .s-btn {
  display: none;
  float: right;
  width: 3em;
  border: 0 none;
  font: .8rem/2 simhei;
  background: none;
}
/* line 49, ../sass/search.scss */
.search-form .sf-wrap {
  box-sizing: border-box;
  overflow: hidden;
  padding: .3rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
/* line 57, ../sass/search.scss */
.search-form .sf-wrap .i-zoom {
  position: static;
}
/* line 61, ../sass/search.scss */
.search-form .s-text {
  width: 76%;
  padding: 0 2%;
  vertical-align: middle;
  font: .6rem/1 simhei;
  border: 0 none;
  background: transparent;
}

/* line 70, ../sass/search.scss */
.search-list {
  min-height: 70vh;
}
/* line 72, ../sass/search.scss */
.search-list .s-result {
  padding: 0.25rem 0.5rem;
  background: #dddddd;
}
/* line 78, ../sass/search.scss */
.search-list .school-list .pic {
  margin-right: .5rem;
}
/* line 82, ../sass/search.scss */
.search-list .sl-info {
  display: block;
  overflow: hidden;
}
/* line 85, ../sass/search.scss */
.search-list .sl-info .sp-num {
  padding: 0 4px;
  background: #d42c2c;
  border-radius: 3px;
  color: #fff;
}

/* line 94, ../sass/search.scss */
.tabs-menu {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 0.5rem;
}
/* line 98, ../sass/search.scss */
.tabs-menu ul {
  background: #dddddd;
  border: 1px solid #dddddd;
  border-radius: .7rem;
}
/* line 102, ../sass/search.scss */
.tabs-menu ul li {
  border-radius: .7rem;
}
/* line 104, ../sass/search.scss */
.tabs-menu ul li a {
  display: block;
  font: .7rem/2 simhei;
  color: #888888;
}
/* line 111, ../sass/search.scss */
.tabs-menu .current {
  background: #fff;
}
/* line 113, ../sass/search.scss */
.tabs-menu .current a {
  color: #333;
}

/* line 119, ../sass/search.scss */
.filter-menu {
  padding: 0 .5rem;
  text-align: center;
}
/* line 122, ../sass/search.scss */
.filter-menu li {
  padding: .5rem 0;
}
/* line 124, ../sass/search.scss */
.filter-menu li a {
  display: block;
  position: relative;
  border-right: 1px solid #dddddd;
}
/* line 129, ../sass/search.scss */
.filter-menu li [class^="i-arrow"]:first-child {
  top: 0;
  left: 0;
}
/* line 133, ../sass/search.scss */
.filter-menu li [class^="i-arrow"]:last-child {
  left: 0;
  bottom: 0;
}
/* line 137, ../sass/search.scss */
.filter-menu li [class^="i-filter"] {
  right: .5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 146, ../sass/search.scss */
.filter-menu li:last-child a {
  border: 0 none;
}
/* line 152, ../sass/search.scss */
.filter-menu .i-box {
  display: block;
  position: absolute;
  width: 20%;
  height: 1em;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 164, ../sass/search.scss */
.filter-panel {
  background: #fff !important;
}
/* line 166, ../sass/search.scss */
.filter-panel .header {
  background: #f8f8f8 !important;
}
/* line 168, ../sass/search.scss */
.filter-panel .header a {
  margin: 0 -10px;
  padding: 10px;
  color: #888888;
}
/* line 173, ../sass/search.scss */
.filter-panel .header .title {
  font-size: .8rem;
}

/* line 178, ../sass/search.scss */
.slide-panel {
  width: 100%;
  height: calc(100vh - 2rem);
  overflow-x: hidden;
  background: #fff;
}
/* line 183, ../sass/search.scss */
.slide-panel .sp-wrap {
  width: 200%;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 189, ../sass/search.scss */
.slide-panel .sp-box {
  float: left;
  width: 50%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: scroll;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 201, ../sass/search.scss */
.slide-panel .sp-list {
  padding-bottom: 3em;
}
/* line 203, ../sass/search.scss */
.slide-panel .sp-list li {
  padding: 5% 8%;
  border-bottom: 1px dotted #dddddd;
}
/* line 206, ../sass/search.scss */
.slide-panel .sp-list li:first-child {
  border-top: 1px solid #dddddd;
}
/* line 209, ../sass/search.scss */
.slide-panel .sp-list li a {
  display: block;
  font-size: 0;
}
/* line 217, ../sass/search.scss */
.slide-panel .sl-item {
  display: inline-block;
  font-size: .6rem;
  vertical-align: top;
}
/* line 221, ../sass/search.scss */
.slide-panel .sl-item:first-child {
  width: 75%;
  text-align: left;
}
/* line 225, ../sass/search.scss */
.slide-panel .sl-item:last-child {
  width: 25%;
  text-align: right;
}
/* line 234, ../sass/search.scss */
.slide-panel .i-arrow-r,
.slide-panel .i-right {
  position: static;
}

/* line 240, ../sass/search.scss */
#subPanelBox .hover .sl-item {
  color: #d42c2c;
}
/* line 243, ../sass/search.scss */
#subPanelBox .hover .sl-item:last-child:after {
  position: static;
  content: '';
}
/* line 249, ../sass/search.scss */
#subPanelBox .sl-item:first-child {
  width: 75%;
}
/* line 252, ../sass/search.scss */
#subPanelBox .sl-item:last-child {
  width: 25%;
}

/* line 257, ../sass/search.scss */
#mainPanelBox .sl-item:first-child {
  width: 30%;
}
/* line 260, ../sass/search.scss */
#mainPanelBox .sl-item:last-child {
  width: 70%;
}
