@import "reset.scss";
@import "import.scss";

html{
    // min-width: 980px;
    width: 100%;
    font-size: 62.5%;
    line-height: 1.5;
    font-family: arial, microsoft yahei, Helvetica, simhei;
    -webkit-text-size-adjust: none;
}
@media only screen and (min-width: 320px){
    html {
        font-size: 20px;
        // &:before{
        //     content: "20";
        // }
    }
}
@media only screen and (min-width: 360px){
    html {
        font-size: 22.5px;
        // &:before{
        //     content: "22";
        // }
    }
}
@media only screen and (min-width: 375px){ //iphone6
    html {
        font-size: 23.4375px;
        // &:before{
        //     content: "23";
        // }
    }
}
@media only screen and (min-width: 400px){
    html {
        font-size: 25px;
        // &:before{
        //     content: "50";
        // }
    }
}
@media only screen and (min-width: 414px){ //iphone6 plus
    html {
        font-size: 25.875px;
        // &:before{
        //     content: "25";
        // }
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size: 40px;
        // &:before{
        //     content: "40";
        // }
    }

}
body{
    position: relative;
    width: 100%;
    max-width: 640px;
    overflow-x: hidden;
    color: $darkgray;
    font-size: .6rem;
    background: #edeef0;
    -webkit-touch-callout: none !important;
    // -webkit-transform:translate3d(0,0,0);
    // transform:translate3d(0,0,0)
}
#page {
  width: 100%;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

h2{
    font-size: (32rem/40);
}
h3{
    font: 300 (30rem/40)/1.3 simhei;
}
img{
    vertical-align: top;
    max-width: 100%;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    &:link,
    &:visited{
        color: $fontcolor;
    }
    &:hover{
        outline: none;
        color: $red;
    }
}
button, input, select, textarea, label {
    font-size: 100%; vertical-align:middle;
}

input:focus {
    outline: none;
}

input {
    margin: 0;
    padding: 0;
    @include input-placeholder {
        font-style: normal;
        font-size: .6rem;
        color: $gray;
    }
}
.fc-blue{
    color: blue;
}
.fc-green{
    color: #7bbf52;
}
.fc-orange{
    color: #fc7c01;
}
.fc-red{
    color: $red;
}
.gap{
    margin-bottom: $gap;
    background: $boxbg;
}

.ui-btn {
    width: 100%;
    display: block;
    height: 3.6rem;
    font: 300 1.8rem/3rem microsoft yahei;
    text-align: center;
    border: 1px solid #d12222;
    background: #7abf51;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    &:link,
    &:visited{
        color: #fff;
    }
    &:hover{
        background: #1D8E3B;
        color: #fff;
    }
}
.ui-btn-sm{
    display: inline-block;
    width: 5rem;
    height: auto;
    line-height: 20px;
    padding: 0 10px;
    font-size: 1.2rem;
    border: 0 none;
}
.ui-btn-mid{
    display: inline-block;
    width: 5rem;
    height: auto;
    line-height: 3rem;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    border: 0 none;
}


.mb10{margin-bottom: 1rem;}
.mb20{margin-bottom: 2rem;}

.ui-slider-item{
    height: auto!important;
}
.ui-panel{
    width: 65%!important;
    padding: 0;
    background: #e6e6e6;
    color: $fontcolor;
}
.panel-menu{
    padding-left: 2rem;
    li{
        position: relative;
        padding: 1rem 0 1rem 2rem;
        border-bottom: 1px solid $line;
        font: (32rem / 40)/(35rem / 40) simhei;
        a{
            display: block;
        }
    }
    [class^="i-menu"]{
        left: 0;
        top: 50%;
        margin-top: (-35px / 2);
    }
}



.ui-box{
    @extend .gap;
    .ub-hd{
        position: relative;
        height: (68rem/40);
        padding: 1px (20rem/40);
        h2{
            margin-top: (14rem/40);
            line-height: 1.3;
            border-left: (4rem/40) solid $red;
            padding-left: 10px;
        }
        .more{
            position: absolute;
            top:0;
            right: (20rem/40);
            height: (68rem/40);
            line-height: (68rem/40);
            color: $more;
        }
    }
    .i-arrow-r{
        position: static;
    }
    .ub-bd{
        padding: 1px (20rem/40);
    }
}

.ui-flex-box{
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    
    li{
        -webkit-box-flex: 1;
            box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        &:last-child{
            margin-right: 0;
            border-right: 0 none;
        }
    }
    img{
        max-width: 100%;
    }
}
.ui-navigator{
    background: #fff;
    border-top: 0 none;
    border-bottom: 1px solid $line;
}
.ui-navigator-list li.ui-state-hover, 
.ui-navigator-list li.ui-state-active{
    background: #fff;
    
    a{
        color: $orange;
    }
}
.ui-navigator-list li a{
    color: $fontcolor;
    font-size: (28rem / 40);
    line-height: (70rem / 40);
}
.ui-scroller{
    vertical-align: top;
}
.ui-refresh-down{
    text-align: center;
    padding: 1rem;
}
.header{
    position: relative;
    height: 2rem;
    background: #f8f8f8;
    text-align: center;
    .title{
        font: 300 .65rem/2rem simhei;
    }
    a{
        position: absolute;
        display: inline-block;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }
    .btn-back{
        min-width: 1rem;
        height: 1rem;
        left: 10px;
        .logo{
            position: static;
            display: block;
            width: (192rem / 40);
            height: (31rem / 40);
            background: url(../images/icons-2x/logo.png);
            background-size: 100% 100%;
        }
    }
    .btn-menu{
        right: 10px;
    }
    .i-back,
    .i-menu{
        position: static;
        margin: 0 5px;

    }
}

.mainpage{
    max-width: 640px;
    margin: 0 auto;

}
.footer{
    padding: 1rem;
    text-align: center;
    color: $gray;
}
@include icon-mix(logo);
@include icon-mix(i-back);
@include icon-mix(i-arrow-l);
@include icon-mix(i-arrow-r);
@include icon-mix(i-arrow-r-o);
@include icon-mix(i-arrow-t);
@include icon-mix(i-arrow-t-red);
@include icon-mix(i-arrow-b);
@include icon-mix(i-arrow-b-red);
@include icon-mix(i-menu);
@include icon-mix(i-menu1);
@include icon-mix(i-menu2);
@include icon-mix(i-menu3);
@include icon-mix(i-menu4);
@include icon-mix(i-menu-home);
@include icon-mix(i-menu-info);
@include icon-mix(i-menu-center);
@include icon-mix(i-menu-required);
@include icon-mix(i-menu-case);
@include icon-mix(i-menu-test);
@include icon-mix(i-weibo);
@include icon-mix(i-qzone);
@include icon-mix(i-weixin);
@include icon-mix(i-close);
@include icon-mix(i-copy);
@include icon-mix(i-zoom);
@include icon-mix(i-filter);
@include icon-mix(i-filter-red);
@include icon-mix(i-right);
@include icon-mix(i-btnback);
@include icon-mix(i-qqim);
@include icon-mix(i-share);
@include icon-mix(i-top);

.social-menu{
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 50px;
    text-align: center;
    a{
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 30px;
        margin-bottom: 10px;
        background: rgba(0,0,0,.5);
        border-radius: 50%;
        &:first-child{
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 40px;
            background: rgba(212,44,44,.8);
        }
    }
    i{
        position: static;
    }
}

.sort-up{
    [class^="i-arrow"]:first-child{
        @extend .i-arrow-t-red;
    }
}
.sort-down{
    [class^="i-arrow"]:last-child{
        @extend .i-arrow-b-red;
    }
}
.active{
    .i-filter{
        @extend .i-filter-red;
    }
} 

#subPanelBox {
    .hover .sl-item{
        &:last-child{
            &:after{
                @extend .i-right;
            }
        }
    }
}

.ui-no-result{
    min-height: 400px;
    padding: 2rem;
    text-align: center;
    line-height: 3;
    img{
        max-width: 90px;
    }
}
.ui-masks{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 99;
    background: rgba(0,0,0,1);
    transition: all .5s;
}
