@import "var.scss";

// 资讯详情
.info-detail{
    padding: $gap;
    h1{
        color: #000;
        font: 700 .8rem/1.5 simhei;
    }
    .options{
        color: $more;
        span{
            padding: 0 10px 0 0;
        }
    }
    .info-text{
        padding: ($gap * 2) $gap;
        p{
            margin: ($gap * 2) 0;
            text-indent: 2em;
            font: 300 .7rem/1.5 simhei;
            img{
                margin-left: -2em;
            }
        }
    }
}

.lxgj{
    padding-bottom: .4rem;
    .pic{
        float: none;
        width: (96rem / 40);
        margin-right: .2rem;
        vertical-align: middle;
    }
    li p{
        display: inline-block;
        vertical-align: middle;
    }
}









