@import "var.scss";



.school-nav{
    background: #fff;
    border: 1px solid #eeeeee;
    border-width: 1px 0;
    li{
        text-align: center;
        a{
            display: block;
            box-sizing: border-box;
            font: .7rem/3 simhei;
            border-bottom: 2px solid #fff;

            // &:hover,
            &.current{
                color: $red;
                border-bottom: 2px solid $red;
            }
        }
    }
}
.school-title{
    background: #fff;
    padding: $gap*2 $gap*2 0;
    .pic{
        margin-bottom: .5rem;
    }
    .date{
        clear: left;
    }
}

.school-notice{
    position: relative;
    padding: $gap*2;
    a{
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $orange;
    }
    background: #fff2de;
    [class^="i-arrow"]{
        right: $gap*2;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.school-ranking{
    background: #fff;
    text-align: center;
    ul{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        }
    .fc-orange{
        display: block;
        font-size: .75rem;
    }
    li{
        width: 33%;
        padding: $gap*2 0;
    }
}
.school-pic{
    li{
        width: 50%;
        a{
            display: block;
        }
        &:first-child{
            padding-right: 3%;
        }
        &:last-child{
            padding-left: 3%;
        }
    }
    .pic{
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 64%;
        height: 0;
        overflow: hidden;
        background: rgba(0,0,0,.07);
        img{
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .opts{
        position: relative;

        span{
            display: inline-block;
            width: 48%;
            line-height: 3;
            &:first-child{
                text-align: left;
            }

            &:last-child{
                text-align: right;
                color: $more;
            }
        }
    }
}
.ui-btn-more{
    display: block;
    margin: $gap 0;
    background: #edeef0;
    text-align: center;
    border-radius: 3px;
    line-height: 3;
}
.school-intro{
    p{
        text-indent: 2em;
        font-size: .7rem;
        line-height: 2;
    }
}
.hot-sp{
    &.data-list{
        min-height: 340px;
        min-height: #{-webkit-calc(100vh - 10rem)};
        min-height: #{calc(100vh - 10rem)};
    }
    .date{
        span{
            display: inline-block;
            padding-right: 15px;
        }
    }
}
.fixed-btn{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font: .7rem/3 simhei;
    li{
        a{
            display: block;
            color: #fff;
        }
        &:first-child{
            background: #ff9409;
        }
        &:last-child{
            background: #ff6009;
        }
    }
}


.search-form{
    padding: $gap*2;
    .s-btn{
        display: none;
        float: right;
        width: 3em;
        border: 0 none;
        font: .8rem/2 simhei;
        background: none;
    }
    .sf-wrap{
        box-sizing: border-box;
        overflow: hidden;
        padding: .3rem;
        border: 1px solid $line;
        border-radius: 3px;
        background: #fff;
        text-align: center;
        .i-zoom{
            position: static;
        }
    }
    .s-text{
        width: 80%;
        vertical-align: middle;
        font: .6rem/1 simhei;
        border: 0 none;
        background: transparent;
    }
}
.s-result{
    padding: $gap $gap*2 0;
}
.filter-menu{
    position: relative;
    padding: .5rem;
    text-align: center;
    background: #fff;
    li{
        a{
            display: block;
            position: relative;
            border-right: 1px solid $line;
        }
        [class^="i-arrow"]:first-child,
        [class^="i-arrow"]:last-child
        {
            position: static;
            display: block;
            transition: all .4s;
        }

        &:last-child{
            a{
                border: 0 none;
            }
        }
    }

    .current{
        a{
            color: $orange;
        }
        [class^="i-arrow"]{
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
    }

    .i-box{
        display: block;
        position: absolute;
        width: 20%;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

}
.drop-menu{
    display: none;
    position: absolute;
    width: 100%;
    max-height: 340px;
    max-height: #{-webkit-calc(100vh - 10rem)};
    max-height: #{calc(100vh - 10rem)};
    overflow: scroll;
    top: 100%;
    left: 0;
    z-index: 100;
    border-top: 1px solid $line;
    background: $boxbg;
    -webkit-overflow-scrolling : touch;
    li{
        margin: 0 $gap;
        padding: 0 $gap*2;
        line-height: 3;
        border-bottom: 1px solid $line;
        a{
            border: 0 none;
            text-align: left;
        }
    }
}
.search-list{
    position: relative;
}
.img-tag{
    background: #fff;
    margin-bottom: $gap;
    padding: $gap*2;
    a{
        display: inline-block;
        padding: 3px 10px;
        border: 1px solid $line;
        border-radius: 3px;
        margin: 3px;
    }
    .current{
        background: #ccc;
        color: #fff;
    }
}
.school-photo{
    background: transparent;
    .ub-bd{
        padding: 0;
    }
    .pic{
        max-width: 100%;
    }
    .pbox{
        display: inline-block;
        width: 50%;
        padding-bottom: 2%;
        vertical-align: top;
        font-size: .6rem;
        a{
            display: block;
            background: #fff;
            margin: 0 3%;
        }
        strong{
            display: block;
            padding: $gap*2;
        }
        // &:nth-child(odd){
        //     padding-right: 1%;
        // }
        // &:nth-child(even){
        //     padding-left: 1%;
        // }
    }
}
#pubu .pbox{
    position: absolute; 
    box-sizing: border-box;
    transition: all 0.3s;}

#pubu {
    margin:0 auto;
    position:relative;
}
#pubu .pbox {
    float:left;
}