@import "var.scss";
@import "reset.scss";
html{
    background: #fff;
}
body{
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    font-size: 20px;
    & > div:last-child{
        max-width: 640px;
        left: 50%!important;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
@media only screen and (min-width: 320px){
    html {
        font-size: 20px;
        // &:before{
        //     content: "20";
        // }
    }
}
@media only screen and (min-width: 360px){
    html {
        font-size: 22.5px;
        // &:before{
        //     content: "22";
        // }
    }
}
@media only screen and (min-width: 375px){ //iphone6
    html {
        font-size: 23.4375px;
        // &:before{
        //     content: "23";
        // }
    }
}
@media only screen and (min-width: 400px){
    html {
        font-size: 25px;
        // &:before{
        //     content: "50";
        // }
    }
}
@media only screen and (min-width: 414px){ //iphone6 plus
    html {
        font-size: 25.875px;
        // &:before{
        //     content: "25";
        // }
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size: 40px;
        // &:before{
        //     content: "40";
        // }
    }

}



body{
    background: #363636;
    -webkit-touch-callout: none !important;
    min-height: 1vh;
    min-height: 100%;
    // -webkit-transform:translate3d(0,0,0);
    // transform:translate3d(0,0,0)
}
.app-model{
    display:none;
}
.header{
    position: relative;
    height: 4.6rem;
    background: $orange;
    text-align: center;
    .apptitle{
        position: static;
        margin-top: 1.2rem;
        overflow: hidden;
        line-height: 100rem;
    }
    .i-back{
        position: absolute;
        left: 1rem;
        top: 50%;
        margin-top: -12px;
        text-indent: -9999px;
    }
}

.mainpage{
    max-width: 640px;
    margin: 10px auto;

}


.sm-slider{position:relative; background: #000;}

.ui-slider-item{
    opacity: 0;
    width:100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    transition: all 1s;
    img{
        width: 100%;
        opacity:1;
        -webkit-transform: scale(1) translateY(-11.11%);
        transform: scale(1) translateY(-11.11%);
        -webkit-transition: all 12s;
        transition: all 12s;
    }
 }

 .sm-slider .current{
    opacity: 1;
    z-index: 3;
    transition: all .01s;
    img{
        -webkit-transform: scale(1.15) translateY(-11.11%);
        transform: scale(1.15) translateY(-11.11%);

    }
}

 .video-options{
    position:absolute;
    z-index:999;
    left:50%;
    top:50%;
    color:#9c9c9a;
    // display:none;
    width: 11.4rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 1.25rem;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    background: rgba(0,0,0,.6);

    &:before{
        content: "";
        display: inline-block;
        width: 1px;
        height: 100%;
        vertical-align: middle;
        visibility: hidden;
    }

    span{
        display: inline-block;
        vertical-align: middle;
        font-size: .6rem;
        &:hover{
            -webkit-filter: saturate(200%);
                    filter: saturate(200%);
            // color: #fff;
        }
    }

    .btn-prev,
    .btn-next{
        display: inline-block;
        width: 1.125rem;
        height: 1.25rem;
        margin: 0 5px;
        vertical-align: middle;
        background: url(../images/btn-prev.png) no-repeat;
        background-size: 100% 100%;
    }
    .btn-next{
        background: url(../images/btn-next.png) no-repeat;
        background-size: 100% 100%;

    }
    .play{
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 10px;
        overflow: hidden;
        line-height: 100rem;
        background: url(../images/btn-play.png) no-repeat;
        background-size: 100% 100%;
    }
 }
.tanmu{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;

    .tm-wrap{
        position: absolute;
        width: 2000px;
        height: 100%;
        left: 100%;
    }
    .tm-inner{
        position: absolute;
        left: 0;
        display: inline-block;
        transition: all 15s ease-out;
        font: 300 12px/2 arial;
        span{
            padding: 0 20px;

            color: #fff;
        }
    }
    .tm-1,
    .tm-2,
    .tm-3{
        float: left;
        clear: left;
    }
    .tm-2{
        padding-left: 20px;
        // transition: all 5s ease-out 0;
        // -webkit-transform: translateX(0);
        // transform: translateX(0);
    }

}
.movie-info{
    height: 1.75rem;
    background: #484848;
    font: 300 0.5rem/1.75rem arial;
    text-align: center;
    color: #9b9b9b;
    span{
        padding: 0 10px;
    }
}
.at-hd{
    overflow: hidden;
    padding: .6rem 10px;
    border-bottom: 1px solid #000;
    .info{
        overflow: hidden;
        font: 300 .5rem/1.5 arial;
        color: #a8a8a8;
    }
    h1{
        font: 300 .6rem/1.8 arial;
        color: #ffe001;
    }
    .pic{
        float: left;
        margin-right: 10px;
        img{
            width: 2rem;
            height: 2rem;
            vertical-align: middle;
            border-radius: 50%;
        }
    }
    .icon{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.rec-movie{
    // padding-bottom: 20px;
    h1{
        padding: 5px 2.5%;
        font: 300 .6rem/2 arial;
        color: #9b9b9b;
    }

    .rm-list{
        font-size: 0;
        text-align: left;
        li{
            display: inline-block;
            width: 50%;
            margin-bottom: 5%;
            text-align: center;
            .pic{
                width: 90%;
            }
        }
        h3,p{
            padding: 0 5%;
            text-align: left;
            margin-top: 5px;
        }
        h3{
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font: 300 .6rem/1.4 arial;
            color: #fff;
        }
        p{
            font: 300 .5rem/1 arial;
            color: #9b9b9b;
        }
    }
}

.down-tip{
    position: fixed;
    z-index: 99;
    display: block;
    width: 100%;
    max-width: 640px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0,0,0,.6);
    img{
        max-width: 100%;
        display: block;
    }
}
.down-placeholder{
    display: block;
    img{
        max-width: 100%;
        display: block;

    }
}
